/* General Variables */
:root {
  --primary-color: #440066;
  --reddit-color: #ff5700;
  --success-color: #28a745;
  --delete-color: #c40000;
  --select-color: #6f6f6f;
  --highlight-color: #e0e0e0;
  --danger-color: #ff0000;
  --font-family: Arial, sans-serif;
  --font-color: #333;
  --bg-color: #f6f6f6;
  --border-color: #e0e0e0;
  --white-color: #ffffff;
  --text-color: #3f3f3f;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-hover: rgba(0, 0, 0, 0.15);

  --max-width: 400px;
  --min-width: 200px;
  --button-padding: 6px 10px;
  --button-font-size: 12px;
  --border-radius: 8px;
  --margin: 5px;
  --gap: 15px;
}

/* General styles */
html,
body {
  min-width: var(--min-width);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--font-color);

  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

h1,
h3 {
  color: var(--white-color);
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Header Section */
.blky-info-section {
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  color: var(--text-color);
  padding: 2px 2px 2px 0px;
  box-shadow: 0 2px 5px var(--shadow-color);
  margin-bottom: 5px;
}

/* Sites Section */
#blky-sites-section {
  padding: var(--margin);
  width: 100%;
  box-sizing: border-box;
}

.blky-row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.blky-row a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.blky-row h4 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
}

/* Reddit Section */
#blky-rdt-options {
  background-color: var(--reddit-color);
  padding: var(--margin);
  width: 100%;
  box-sizing: border-box;
}

.site-title {
  text-align: center;
  font-size: 20px;
  color: var(--font-color);
}

.btn {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--white-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.btn:hover {
  border-radius: 5px;
  transform: scale(1.02);
  box-shadow: 0 6px 10px var(--shadow-hover);
}

.btn:active {
  background-color: #cbcbcb;
}

.btn a {
  text-decoration: none;
  color: var(--text-color);
}

.btn a h4 {
  font-size: var(--button-font-size);
  font-weight: 700;
}

footer {
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: var(--margin);
  box-shadow: 0 -2px -5px var(--shadow-color);
}

.hidden {
  display: none;
}

a {
  color: grey;

  text-decoration: none;
}

header {
  padding: 2px 2px 0px 2px;
}

p {
  margin: 2px;
}

#blky-rdt-btn > a > h4 {
  color: var(--reddit-color);
}
